<Project>
    <PropertyGroup>
        <!-- 改成你的杀戮尖塔2目录 -->
        <Sts2Dir>E:\SteamLibrary\steamapps\common\Slay the Spire 2</Sts2Dir>
        <Sts2ModDir>$(Sts2Dir)\mods</Sts2ModDir>
        <Sts2DataDir>$(Sts2Dir)\data_sts2_windows_x86_64</Sts2DataDir>
        <!-- Godot 可执行文件（用于构建后自动导出 pck） -->
        <GodotExe>E:\MOD\sts2\Godot_v4.5.1-stable_mono_win64\Godot_v4.5.1-stable_mono_win64\Godot_v4.5.1-stable_mono_win64.exe</GodotExe>
    </PropertyGroup>
</Project>